@charset "UTF-8";

/*************************************/
/* 通信販売（商品選択と注文フォーム）*/
/*************************************/

/*** 見出し１スタイル ***/
main h1 {
	text-align: center;
	font-weight:normal;
	font-size: 150%;
	margin:20px 0 40px 0;
}

/*** 商品一覧エリア ***/
#orderlist_area {
	margin-bottom: 20px;

}
#orderlist_area .inner {
	width: 1100px;
	margin: 0 auto;
}

/*-- 商品１ブロック --*/
#orderlist_area .inner .order_blk {
	display:inline-block;
	margin-right: 10px;
	width: 520px;
	margin: 0 0 30px 10px;
}
#orderlist_area .inner .order_blk .item_img {
	width:250px;
	float:left;
}
#orderlist_area .inner .order_blk .item_text {
	width:255px;
	height: 180px; /* 高さ調節 */
	float:right;
}
/* 商品名 */
#orderlist_area .inner .order_blk .item_text .order_name {
	font-weight:normal;
	font-size: 100%;
	letter-spacing: -1px;
	margin-bottom: 20px;
	color: #800000;

}
/* 商品詳細 */
#orderlist_area .inner .order_blk .item_text .order_detail {
	font-size: 14px;
	margin-bottom: 20px;
}
/* 個数 */
#orderlist_area .inner .order_blk .item_text .order_num {
	font-size: 14px;

}
/* 個数入力部分 */
#orderlist_area .inner .order_blk .item_text .order_num .numborder {
	border-radius: 5px;
	border: 1px #800000 solid;
	width: 50px;
	text-align: center;
}

/*** 注文フォームエリア ***/
#orderformarea {
	margin-bottom:100px;
}
#orderformarea .inner {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}
/*-- 注意事項エリア --*/
#orderformarea .inner .information {
	margin: 0 0 40px 80px;
	font-size: 14px;
	line-height:180%;
}
/*-- 注文フォームエリア --*/
#orderformarea .inner .orderform {
	margin: 0 0 80px 100px;
}
/* 注文フォームテーブル */
#orderformarea .inner .orderform table {
	width: 70%;
}
#orderformarea .inner .orderform tr {

}
#orderformarea .inner .orderform th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	font-size: 120%;
	padding: 5px 0 5px 0;
}
#orderformarea .inner .orderform td {
	text-align: left;
	vertical-align: top;
	font-size: 14px;
	padding: 5px 0 5px 0;
	
}
/* 入力欄 */
#orderformarea .inner .orderform td input {
	padding: 2px 0 2px 10px;
}
#orderformarea .inner .orderform td input[type="text"],
input[type="text"],
textarea {
	border-radius: 5px;
}
/* 選択箇所 */
#orderformarea .inner .orderform td .form_sel {
	padding: 2px 0 2px 10px;
	border-radius: 5px;
/*	color:#888889;*/
}
#orderformarea .inner .orderform td .txtcenter {
	padding: 2px 0;
	text-align: center;
}
/* ご注文内容を確認するボタン */
#orderformarea .inner .ordercheck_btn {
	text-align: center;
}
